<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Listing Companies</h1>

  <table class='table table-striped'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Package</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
      <tr>
        <td><%= company.title %></td>
        <td><%= company.package %></td>
        <td>
          <span><%= link_to 'Show', company %></span> 
          <span><%= link_to 'Edit', edit_company_path(company) %></span>
          <span><%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %></span>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Company', new_company_path, class: 'btn btn-success'  %>
  
</div>
